/*! CURRENCY */

/* Блок с курсами валют */
.currency {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Нижний внешний отступ */
    margin-bottom: 15px;
}

/* Все дочерние элементы блока с курсами валют */
.currency > * {

    /* Внешние отступы */
    margin-left: 5px;
    margin-right: 5px;
}

/* Первый дочерний элемент блока с курсами валют */
.currency > *:first-child {

    /* Внешний отступ */
    margin-left: 0;
}

/* Последний дочерний элемент блока с курсами валют */
.currency > *:last-child {

    /* Внешний отступ */
    margin-right: 0;
}

/* Заголовок карточки с курсом одной валюты */
.currency-item-title {

    /* Размер шрифта */
    font-size: 18px;

    /* Начертание шрифта */
    font-weight: 700;
}

/* Значение курса одной валюты */
.currency-item-value {

    /* Размер шрифта */
    font-size: 32px;

    /* Начертание шрифта */
    font-weight: 300;
}

/* Значение курса одной валюты при её росте */
.currency-item-value.top {

    /* Цвет текста */
    color: rgb(19, 189, 61);
}

.currency-item-value.bottom {

    /* Цвет текста */
    color: rgb(255, 51, 51);
}

/* Ссылка на GitHub в футере */
.footer-link {

    /* Внешние отступы */
    margin: 0 15px;

    /* Убираем подчёркивание у ссылки */
    text-decoration: none;
}

/* Ссылка на GitHub в футере при наведении курсора */
.footer-link:hover {

    /* Добавляем нижнее подчёркивание ссылке */
    text-decoration: underline;
}
